@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,100;1,300;1,400&display=swap');

body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
    font-size: 16px;
}


.left-links {
    font-weight: bold;
}

.right-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 18px;
}

.footer {
    display: flex;
    color: white;
    background-color: #1F2937;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    font-size: 15px;
    padding: 18px;
    margin-top: auto;
}

.one {
    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    color: white;
    height: 350px;
}

.ls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 800px;
    margin-left: 100px;
}

.awesome {
    display: flex;
    flex-wrap: wrap;
    color: #E5E7EB !important;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    flex-wrap: wrap;
    margin: 0px;
    color: white;
}

p {
    margin: 5px;
    font-size: 18px;
    font-weight: lighter;
}


button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    flex-shrink: 0;
}

.sign {
    display: flex;
    justify-content: flex-start;
    height:40px;
    width: 530px;
    margin-top: 10px;
}


.placeholder {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png");
    height: 220px;
    width: 500px;
    margin: 70px;
    margin-top: 50px;
    flex-shrink: 0;
}

.two {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 350px;
    justify-content: space-around;
    align-items: center;

}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.third {
    display: flex;
    background-color: #EFE7EB;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.lala{
    width: 800px;
    flex-direction: column;
}

.quote {
    display: flex;
    background-color: #EFE7EB;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-weight: 200;
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: bold;
}